.hero-section {
    height: 88vh;
    background: #67AABA;
    display: flex;
    position: relative;
}

.hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4em;
    background-image: url('../Images/hero-img.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 700px 500px;
}

.sub-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 60px;
    margin-bottom: .5rem;
}

.sub-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.description-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F3F9FB;
    padding: 10rem auto;
}

.dots {
    position: absolute;
    display: flex;
}

.dot {
    background: #008470;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 10px 5px;
}

.desc-top-dots {
    top: 0;
    left: 0;
}

.desc-bottom-dots {
    right: 0;
    bottom: 0;
}

.desc-bg-circles {
    position: absolute;
    opacity: 10%;
    right: -10rem;
    top: 5rem;
}

.circle {
    border-radius: 50%;
    background: transparent;
}

.big {
    width: 30rem;
    height: 30rem;
    border: 1rem solid #8A2B60;
}

.small {
    width: 25rem;
    height: 25rem;
    border: .7rem solid #8A2B60;
    transform: translate(10%, 6%);
}

.smaller {
    width: 20rem;
    height: 20rem;
    transform: translate(10%, 10%);
    border: .5rem solid #8A2B60;
}

.description {
    width: 100%;
    height: 100%;
    padding: 10rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc-image {
    width: 50%;
}

.desc-image img {
    width: 80%;
}

.desc-text {
    width: 50%;
}

.features {
    height: 100vh;
    width: 100%;
}

.feature-register-btn {
    background: #3D86C5;
    color: #FCFCFD;
}